<section class="contact-section">
  <div class="container">
    <div class="left-content">
      <img src="/assets/imgs/ft-deni.png" alt="Minha Foto">
    </div>
    <div class="right-content">
      <h2>Denise Rísia Carvalho</h2>
      <p>Este projeto de conversor de moedas foi um desafio final de nivelamento do projeto de Residência de Software da <strong>Universidade Federal do Estado do Rio de Janeiro.</strong></p>
      <p>O desafio tinha como objetivo o desenvolvimento de uma aplicação em Angular que realize a <strong> conversão de valores monetários entre diferentes moedas. </strong>
        A aplicação deve consumir o serviço de conversão de moedas exchangerate do seguinte site: 
      <a  href="https://exchangerate.host/" target="_blank">  https://exchangerate.host/ </a> </p>
      <div class="social-media">
        <h4>Minhas Redes Sociais</h4>
        <div class="social-icons">
          <div class="social-icon">
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="social-icon">
            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          </div>
          <div class="social-icon">
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>       
    </div>
  </div>
</section>
