.contact-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    flex: 1;
    max-width: 50%;
  }
  
  .left-content img {
    width: 100%;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .right-content {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .right-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .left-content, .right-content {
      max-width: 100%;
      text-align: center;
      padding: 20px;
    }
  }

  .social-media {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social-media h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 10px;
  }
  
  .social-icon a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
  }
  


  
  
  