<section class="contact-section">
  <div class="container">
    <div class="left-content">
      <img src="/assets/imgs/ft-deni.png" alt="Minha Foto">
    </div>
    <div class="right-content">
      <h2> <span> Denise Rísia Carvalho </span>  </h2>
      <p>Este projeto de conversor de moedas foi um desafio final de nivelamento do projeto de Residência de Software da <span> Universidade Federal do Estado do Rio de Janeiro. </span></p>
      <br>
      <p>O desafio tinha como objetivo o desenvolvimento de uma aplicação em Angular que realize a  <span> conversão de valores monetários entre diferentes moedas. </span>
        A aplicação deve consumir o serviço de conversão de moedas exchangerate do seguinte site:
      </p>      
      <br>
      <p> <a href="https://exchangerate.host/" target="_blank"> <span>  https://exchangerate.host/ </span> </a> </p>
    </div>
  </div>
</section>
