.contact-section {
  background: #C1D316;
  background: linear-gradient(to bottom right, #C1D316, #E6F77D);
  padding: 50px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.left-content img {
  max-width: 350px; /* Diminuindo o tamanho da imagem */
  border-radius: 50%; /* Adicionando um efeito de borda arredondada */
  margin-right: 60px; /* Espaçamento entre a foto e o texto */
}

.right-content {
  flex: 1;
  text-align: left;
}

.right-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  text-align: center;
  color: #322653;;
}

.right-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px; /* Espaçamento entre o texto e as redes sociais */
  text-align: center;
}

.social-media {
  margin-top: 20px;
  text-align: center; /* Centralizar as redes sociais e seus ícones */
}

.social-icons {
  display: flex;
  justify-content: center; /* Centralizar os ícones das redes sociais */
}

.social-icon {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icon a {
  color: #333;
  font-size: 32px; 
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
}

.social-icon a:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1); 
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-content img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .right-content {
    text-align: center;
  }

  .right-content h2 {
    font-size: 28px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .right-content h2 {
    font-size: 32px;
  }
}
