<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="logo-container">
        <p class="green-text"> COINS </p>
      </div>
      <ul class="menu">
        <li><a href="#" routerLink="/home" >Home</a></li>
        <li><a href="#" routerLink="/moedas" >Moedas</a></li>
        <li><a href="#" routerLink="/conversao-de-moedas" >Conversão</a></li>
        <li><a href="#" routerLink="/historico-de-conversoes" >Histórico</a></li>
        <li><a href="#" routerLink="/contato" >Contato</a></li>
      </ul>
    </nav>
</header>  