<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="logo-container">
        <a href="#" class="logo">
          <img src="assets/imgs/logo-rm.png" alt="Logo do Projeto">
        </a>
      </div>
      <ul class="menu">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Moedas</a></li>
        <li><a href="#">Conversão</a></li>
        <li><a href="#">Histórico</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
</header>  