
header {
  background-color: var(--sec--color);
  position: relative;
  height: 80px;
  font-family: 'Poppins', sans-serif;
}
.span{
  margin: 10px auto;
  color: var(--pri--color);
  font-size: 22px;
}

.green-text{
  color: var(--primary, #01E0C1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  padding: 8px;
}
  
nav {
  font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute; /* Altere para absolute para que o nav fique posicionado dentro do header */
    top: 0; /* Posicione o nav no topo do header */
    left: 0; /* Posicione o nav no canto esquerdo do header */
    right: 0; /* Posicione o nav no canto direito do header */
    z-index: 1;
}
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    color: #ECEDDB;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .menu li a.active,
  .menu li a:hover {
    border-bottom: 2px solid var(--pri--color); 
    transition: .5s;
  }
  
  .checkbtn {
    color: #ECEDDB;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 858px) {
    .logo img {
      width: 100px;
    }
  
    .menu {
      position: fixed;
      display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: 0;
      width: 100%;
      background: #322653;
      padding: 20px;
      z-index: 2; /* Define um z-index maior para que o <nav> fique em cima da imagem */
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .checkbtn {
      display: block;
      margin-right: 20px;
    }
  
    #check:checked ~ .menu {
      display: flex;
      position: absolute;
      text-align: center;
      font-size: 15px;
    }
  }
  