<div class="container">
  <mat-form-field>
    <mat-label>Pesquisar moeda</mat-label>
   
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Símbolo</mat-header-cell>
      <mat-cell *matCellDef="let moeda">{{ moeda.symbol }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let moeda">{{ moeda.name }}</mat-cell>
    </ng-container>

    <!-- Adicione mais colunas conforme necessário -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- ... -->
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
