<section class="moedas-section">
  <div class="overlay-2"></div> 
  <div class="top-text-2">
    <h2 class="title-2">Moedas
      <br>
      <span> da nossa Plataforma</span>
    </h2>
    <p class="subtitle-2">Veja as moedas disponíveis em nossa plataforma e suas descrições</p>
  </div>

  <div class="container-3">  

    <div class="container-mod search-container">
      <mat-form-field appearance="fill" class="busca">
        <mat-label class="text-dark">Buscar moedas</mat-label>
        <input matInput [(ngModel)]="busca" (input)="buscarCoins()">
        <button mat-icon-button class="search-button" aria-label="Buscar" (click)="buscarCoins()">
        </button>
      </mat-form-field>
    </div>
  <table class="table mt-4 table-rounded" *ngIf="!loading">
    <thead>
      <tr>
        <th class="text-center thread-color">Símbolo</th>
        <th class="thread-color">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of coinList | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }; let i = index">
        <td class="text-center fixed-width">{{ coin.code }}</td>
        <td class="fixed-width">{{ coin.description }}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <div class="container-mod center">
    <div class="itens">
      <mat-form-field appearance="fill" class="itens">
        <mat-label class="text-dark">Itens por página:</mat-label>
        <mat-select [(ngModel)]="itensPorPagina" (selectionChange)="atualizarPaginacao(1)">
          <mat-option value="5">5</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="15">15</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="pagination-controls">
      <div class="ngx-pagination-white">
        <pagination-controls (pageChange)="atualizarPaginacao($event)" [maxSize]="5" [directionLinks]="true"
          [responsive]="true" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'">
        </pagination-controls>
      </div>
    </div>       
  </div>
</div>
</section>