<section class="converter-section">
  <div class="container">
    <h2 class="title">Conversor de Moedas</h2>
    <form class="form-container" (submit)="convertCurrency()">

      <div class="teste-01">
      <p> Moeda de Origem </p>
      <mat-form-field class="01">
        <mat-select class="01"  [(ngModel)]="fromCurrency" name="fromCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="teste-02">
      <p> Moeda de Destino </p>
      <mat-form-field  class="02">
        <mat-select  [(ngModel)]="toCurrency" name="toCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="teste-03">
      <p> Quantidade</p>
      <mat-form-field class="03">
        <input matInput type="number" placeholder="Quantidade" [(ngModel)]="amount" name="amount" required>
      </mat-form-field>
    </div>

      <div class="button-container">
          <button class="04" mat-raised-button color="primary" type="submit">Converter</button>
          <button class="05" mat-raised-button color="warn" type="button" (click)="clearForm()">Limpar</button>
      </div>
    </form>
    <div class="converted-value" *ngIf="convertedAmount !== null">
      <p>  {{ fromCurrency}} Valor convertido =  {{ convertedAmount | number }}  {{ toCurrency }}</p>
      <p>Taxa de conversão = {{ exchangeRate.rates[toCurrency] | number }}</p>
    </div>       
  </div>
</section>
