<footer>
    <div class="footer-container">

      <div class="social-media">
        <h3>Redes Sociais</h3>
        <ul>
          <li><a href="https://www.linkedin.com/in/deniserisiacarvalho/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin </a></li>
          <li><a href="https://github.com/deniserisia" target="_blank"><i class="fab fa-github"></i> Github </a></li>
          <li><a href="https://www.instagram.com/risiaeu/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
  
      <div class="sub-footer-text">
        <p>Copyright © 2023 | Site feito por<a href="https://deniserisia.com.br/" class="copyright-link"> <span> Denise
              Rísia Carvalho. </span></a></p>
      </div>
  
      <div class="logo-container">
        <a href="#" class="logo">
          <img src="assets/imgs/logo-rm.png" alt="Logo do Projeto">
        </a>
      </div>
    </div>
</footer>