.green-text{
  color: var(--primary, #01E0C1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
span {
  margin: 10px auto;
  color: var(--pri--color); 
}