<div class="footer">
  <div class="contact-info">
    <p>Contato</p>
    <div class="social-icons">
      <li><a href="https://www.linkedin.com/in/deniserisiacarvalho/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin </a></li>
          <li><a href="https://github.com/deniserisia" target="_blank"><i class="fab fa-github"></i> Github </a></li>
          <li><a href="https://www.instagram.com/risiaeu/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
    </div>
  </div>
  <div class="logo">
    <img src="assets/imgs/logo-rm.png" alt="Logo do Projeto">
  </div>
  <p class="rights">
    Copyright © 2023 | Site feito por<a href="https://deniserisia.com.br/" class="copyright-link"> <span> Denise
      Rísia Carvalho. </span></a>
  </p>
</div>