footer {
    background: #322653;
    color: #fff;
}
  
.footer-container {
    display: flex;
    justify-content: center; /* Centralizar os elementos horizontalmente */
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    font-size: 1.2rem;
}
  
.social-media {
    flex: 1;
}
  
  .social-media h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media li {
    margin-bottom: 5px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para a coluna de endereço e contato */
  .address-contact {
    flex: 1;
  }
  
  .address-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .address-contact p {
    margin: 0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    order: 1; /* Mover para a esquerda */
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .footer-iconTop {
    flex: 1;
  }
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .social-media,
    .address-contact,
    .logo,
    .footer-iconTop {
      margin-bottom: 20px;
    }
}  