<div class="sub-footer">
  <div class="sub-footer-text">
    <p class="green-text"> COINS </p>
    <p>Copyright © 2023 | Site feito por<a href="https://deniserisia.com.br/" class="copyright-link"> <span> Denise
          Rísia Carvalho. </span></a></p>
  </div>
  <div class="sub-footer-text">
    <p> <span> | </span> Redes Sociais</p>
    <h3 class="social-heading"></h3>
    <div class="iconTop">
      <a href="https://www.linkedin.com/in/deniserisiacarvalho/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/risiaeu/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://youtu.be/6M9nM2aVj8k" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://github.com/deniserisia" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
