<section class="home">
  <div class="home-background-image"></div>
  <div class="home-content">
    <h2>Bem-vindo à Coins</h2>
    <p>Coins é o seu conversor ideal de moedas.</p>
    <button class="home-saiba-mais">Saiba Mais</button>
  </div>
</section>  

<section class="section-conversor">
<div class="container">
  <div class="section-conversor-left-content">
    <img src="/assets/imgs/conversor-page.png" alt="Foto do Conversor">
  </div>
  <div class="section-conversor-right-content">
    <h2>Denise Rísia Carvalho</h2>
    <p>Este projeto de conversor de moedas foi um desafio final de nivelamento do projeto de Residência de Software da <strong>Universidade Federal do Estado do Rio de Janeiro.</strong></p>
    <p>O desafio tinha como objetivo o desenvolvimento de uma aplicação em Angular que realize a <strong> conversão de valores monetários entre diferentes moedas. </strong>
      A aplicação deve consumir o serviço de conversão de moedas exchangerate do seguinte site: 
    <a  href="https://exchangerate.host/" target="_blank">  https://exchangerate.host/ </a> </p>
    <button class="section-conversor-saiba-mais-btn">Saiba Mais</button>
  </div>
</div>
</section>

<section class="section-historico">
<div class="container">
  <div class="section-historico-right-content">
    <img src="/assets/imgs/historico-page.png" alt="Foto do Conversor">
  </div>
  <div class="section-historico-left-content">
    <h2>Denise Rísia Carvalho</h2>
    <p>Este projeto de conversor de moedas foi um desafio final de nivelamento do projeto de Residência de Software da <strong>Universidade Federal do Estado do Rio de Janeiro.</strong></p>
    <p>O desafio tinha como objetivo o desenvolvimento de uma aplicação em Angular que realize a <strong> conversão de valores monetários entre diferentes moedas. </strong>
      A aplicação deve consumir o serviço de conversão de moedas exchangerate do seguinte site: 
    </p>
    <button class="section-historico-saiba-mais-btn">Saiba Mais</button>
  </div>
</div>
</section>
