

.section-moedas{
  display: inline-flex;
  padding: 48px 72px;
  align-items: center;
  gap: 32px;
  background: #000000;
}
.section-historico{
  display: flex;
  width: 1440px;
  padding: 48px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #101217;
}