<section  class="background-animation">
  <div class="home-content">
    <div class="conteudo-home">
      <h2> Bem-vindo à Coins</h2>
    </div>
    <p>Coins é um Projeto de Conversor de Moedas.</p>
    <p>Utiliza a API:  <a  href="https://exchangerate.host/" target="_blank">  https://exchangerate.host/ </a>  </p>
    <button class="section-historico-saiba-mais-btn" routerLink="/conversao-de-moedas">Converta agora!</button>
  </div>
</section>  

<section class="section-conversor">
<div class="container">
  <div class="section-conversor-left-content">
    <img src="/assets/imgs/conversor-page.png" alt="Foto do Conversor">
  </div>
  <div class="section-conversor-right-content">
    <h2>Conversão de moedas</h2>
    <p> O nosso sistema de conversão de moedas permite que o usuário selecione a moeda de origem,
      a moeda de destino e o valor a ser convertido. Além disso, após a conversão o sistema apresenta
      ao usuário o valor convertido e a taxa de conversão.</p>
    <p> O nosso sistema consome o serviço da API de conversão de moedas exchangerate do seguinte site: 
      <a  href="https://exchangerate.host/" target="_blank">  https://exchangerate.host/ </a> </p>
      <button class="section-historico-saiba-mais-btn" routerLink="/conversao-de-moedas">Converta agora!</button>
  </div>
</div>
</section>

<section class="section-conversor-historico">
  <div class="container">
    <div class="section-conversor-left-content">
      <img src="/assets/imgs/historico-page.png" alt="Foto do Conversor">
    </div>
    <div class="section-conversor-right-content">
      <h2>Histórico na sua Mão</h2>
      <p> <strong> Acompanhe todo o seu histótico de conversão de moedas</strong>, nosso sistema permite que o usuário visualize conversões de suas moedas realizadas com as seguintes informações: data da conversão, hora da conversão, valor de e moeda a ser convertida, valor de saída e moeda de destino, taxa da cotação
        utilizada na conversão. Será possível também visualizar conversões de alto valor, bem como a
        realização de exclusão de uma conversão do histórico.
      </p>
      <button class="section-historico-saiba-mais-btn" routerLink="/historico-de-conversoes" >Veja seu Histórico!</button>
    </div>
  </div>
</section>