<section class="converter-section">
  <div class="overlay"></div> 
  <div class="top-text">
    <h2 class="title">Converta moedas
      <br>
      <span> de forma simples</span> </h2>
    <p class="subtitle">Transforme valores em poucos cliques</p>
  </div>
  <div class="container">
    <h2 class="title">Conversor de Moedas</h2>
    <form class="form-container" (submit)="convertCurrency()">

      <div class="teste-01">
      <p> Moeda de Origem </p>
      <mat-form-field class="01">
        <mat-select class="01"  [(ngModel)]="fromCurrency" name="fromCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="teste-02">
      <p> Moeda de Destino </p>
      <mat-form-field  class="02">
        <mat-select  [(ngModel)]="toCurrency" name="toCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="teste-03">
      <p> Valor</p>
      <mat-form-field class="03 mat-03">
        <input matInput type="number" placeholder="Valor" [(ngModel)]="amount" name="amount" required>
      </mat-form-field>
    </div>
    
    <div class="button-container">
      <button class="04 button-04" mat-raised-button color="primary" type="submit">Converter</button>
      <button class="05 button-05" mat-raised-button color="warn" type="button" (click)="clearForm()">Limpar</button>
    </div>
    
    </form>
    <div class="converted-value" *ngIf="convertedAmount !== null">
      <p>  {{ fromCurrency}} <span> Valor convertido </span> =  {{ convertedAmount | number }}  {{ toCurrency }} <span> | </span> A <span> Taxa de conversão </span> utilizada = {{ exchangeRate.rates[toCurrency] | number }}</p>
    </div>       
  </div>
</section>


<section class="moedas-section">
  <div class="overlay-2"></div> 
  <div class="center-content-2">
    <div class="content-2">
      <div class="text-2">
        <h2 class="title-2"><i class="fas fa-dollar-sign" style="color: #A8DF8E;"></i> Moedas  </h2>
        <p class="subtitle-2">Veja as moedas disponíveis em nossa plataforma e suas descrições.</p>
      </div>
      <a class="limpar-button-4" [routerLink]="['/moedas']"> Veja Agora</a>
    </div>
  </div>
</section>



<section class="historico-section-3">
  <div class="overlay-3"></div> 
  <div class="top-text-3">
    <h2 class="title-3">Histórico na sua Mão
      <br>
      <span> de uma forma simples</span>
    </h2>
    <p class="subtitle-3">Acompanhe todo o seu histórico de conversão de moedas.</p>
  </div>
    <div class="container-2">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="historico" #tabelaHistorico class="historico-table">
  
          <!-- Data Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data da Conversão</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.data | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
  
          <!-- Hora Column -->
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef>Hora da Conversão</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.data | date: 'HH:mm' }}</td>
          </ng-container>
  
          <!-- Moeda de Origem Column -->
          <ng-container matColumnDef="moedaOrigem">
            <th mat-header-cell *matHeaderCellDef>Moeda de Origem</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.moedaOrigem }}</td>
          </ng-container>
  
          <!-- Valor de Entrada Column -->
          <ng-container matColumnDef="valorEntrada">
            <th mat-header-cell *matHeaderCellDef>Valor Informado</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.valorEntrada | number }}</td>
          </ng-container>
  
          <!-- Moeda de Destino Column -->
          <ng-container matColumnDef="moedaDestino">
            <th mat-header-cell *matHeaderCellDef>Moeda de Destino</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.moedaDestino }}</td>
          </ng-container>
  
          <!-- Valor de Saída Column -->
          <ng-container matColumnDef="valorSaida">
            <th mat-header-cell *matHeaderCellDef>Resultado</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.valorSaida | number }}</td>
            
          </ng-container>
  
          <!-- Taxa de Conversão Column -->
          <ng-container matColumnDef="taxaConversao">
            <th mat-header-cell *matHeaderCellDef>Taxa de Conversão</th>
            <td mat-cell *matCellDef="let conversao">{{ conversao.taxaConversao | number }}</td>
          </ng-container>

          <ng-container matColumnDef="valorSaidaIcon">
            <th mat-header-cell *matHeaderCellDef>Valor de Saída</th>
            <td mat-cell *matCellDef="let conversao">
              <span>{{ conversao.valorSaida | number }}</span>
              <mat-icon *ngIf="isValueOver10000(conversao.moedaDestino, conversao.valorSaida)" svgIcon="high-value" class="high-value-icon"></mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef>Ação</th>
            <td mat-cell *matCellDef="let conversao">
              <button mat-icon-button color="warn" (click)="confirmarExclusao(conversao)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          
        <tr mat-header-row *matHeaderRowDef="['data', 'hora', 'moedaOrigem', 'valorEntrada', 'moedaDestino', 'valorSaida', 'taxaConversao', 'acao']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['data', 'hora', 'moedaOrigem', 'valorEntrada', 'moedaDestino', 'valorSaida', 'taxaConversao', 'acao']"></tr>
      </table>
    </div>

    <button class="limpar-button-3" [routerLink]="['/historico-de-conversoes']">Veja seu Histórico</button>
  </div>
  </section>
  