.home {
    position: relative;
    padding: 40px 0;
    color: #ffffff;
    text-align: center;
    height: 600px; /* Ajuste o valor para aumentar o tamanho vertical */
    margin: 0 auto;
    background: linear-gradient(#322653, #000000);
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center center; /* Centraliza a imagem horizontalmente e verticalmente */
    display: flex; /* Centraliza verticalmente o conteúdo */
    flex-direction: column; /* Alinha o conteúdo em uma coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
  }
  
  .home .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; /* Ajuste o espaçamento conforme necessário */
  }
  
  .home h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .saiba-mais {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao botão */
  }
  
  .saiba-mais:hover {
    background-color: #0056b3;
  }
   

.moedas {
    background-color: #eaf3ff;
    padding: 40px 0;
  }
  
  .moedas .content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
 }
 .conversao {
    background-color: #f5f5f5;
    padding: 40px 0;
  }
  
  .conversao .content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .contato {
    background-color: #eaf3ff;
    padding: 40px 0;
  }
  
  .contato .content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }


  
  